---
layout: base
favicon: favicon-rocket.ico
---
<header>
  <div class="container post-container">
    {% include navigation.html %}
    <div class="inner-container">
        <center><img src="{{site.baseurl}}/nilsonlinux/user.jpg" class="circle" height="100" width="100"></center>
      <center><h1>{{ site.title }}</h1></center>
      <center><h1><small>{{ site.tagline }}</small></h1></center>
      <div id="console">
        <span class="cursor" id="typed" style="display: inline;">&nbsp;&gt; </span>
      </div>
</header>
<article>
  <div class="container wrapper">

    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Feito com <span class="red pulse fa fa-heart"></span> tudo isso</h2>
      </div>
      
      <div class="col-md-10 col-md-offset-1">
      
        <div class="col-lg-3 col-md-3 col-sm-1 text-center">
          <div class="iconbox">
            <p><span class="fa fa-3x fa-code icon-shadow"></span></p>
            <h3>Escrevo códigos</h3>
          </div>
          <span class="bar"></span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-1 text-center">
          <div class="iconbox">
            <p><span class="fa fa-3x fa-area-chart icon-shadow"></span></p>
            <h3>Visualizo</h3>
          </div>
          <span class="bar"></span>  
        </div>
        <div class="col-lg-3 col-md-3 col-sm-1 text-center">
          <div class="iconbox">
            <p><span class="fa fa-3x fa-database icon-shadow"></span></p>
            <h3>Analizarei</h3>
          </div>
          <span class="bar"></span>  
        </div>
        <div class="col-lg-3 col-md-3 col-sm-1 text-center">
          <div class="iconbox">
            <p><span class="fa fa-3x fa-github icon-shadow"></span></p>
            <h3>Compartilho</h3>
          </div>
          <span class="bar"></span>  
        </div>  
      </div>
      <div class="col-md-12 text-right">
        <p><a href="/sobre/" class="internallink thunder">
          Sobre mim. <span class="fa fa-angle-double-right"></span></a>
        </p>
      </div>
    </div>  
   <div class="row">
        </a>      
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>From the blog</h2>
      </div>
      {% for post in site.posts limit:4 %}
      <div class="col-md-10 col-md-offset-1 postlinkcontainer">
        <a href="{{ post.url }}" class="postlink internallink">
          <h3>{{ post.title }}<span class="pull-right">{{ post.date | date: "%B %Y" }}</span></h3>
        </a>
        <span class="bar"></span>
      </div>
      {% endfor %}  
      <div class="col-md-12 text-right">
        <p><a href="/blog/" class="internallink thunder">View more <span class="fa fa-angle-double-right"></span></a></p>
      </div>
    </div>
    
    <div class="push"></div>
  </div>
  {% include footer.html %}
  <script src="/js/typed.custom.js"></script>
  <script src="/js/index.js"></script>
</article>
