---
layout: base
favicon: favicon-rocket.ico
---
<header>
  <div class="container post-container">
    {% include navigation.html %}
    <div class="inner-container">
      <h1>{{ site.title }}</h1>
      <h1><small>{{ site.tagline }}</small></h1>
      <div id="console">
        <span class="cursor" id="typed" style="display: inline;">&nbsp;&gt; </span>
      </div>
    </div>
  </div>
</header>
<article>
  <div class="container wrapper">

    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Feito com <span class="red pulse fa fa-heart"></span> tudo isso</h2>
      </div>
      
      <div class="col-md-10 col-md-offset-1">
      
        <div class="col-lg-3 col-md-3 col-sm-1 text-center">
          <div class="iconbox">
            <p><span class="fa fa-3x fa-code icon-shadow"></span></p>
            <h3>Escrevo códigos</h3>
          </div>
          <span class="bar"></span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-1 text-center">
          <div class="iconbox">
            <p><span class="fa fa-3x fa-area-chart icon-shadow"></span></p>
            <h3>Visualizo</h3>
          </div>
          <span class="bar"></span>  
        </div>
        <div class="col-lg-3 col-md-3 col-sm-1 text-center">
          <div class="iconbox">
            <p><span class="fa fa-3x fa-database icon-shadow"></span></p>
            <h3>Analizarei</h3>
          </div>
          <span class="bar"></span>  
        </div>
        <div class="col-lg-3 col-md-3 col-sm-1 text-center">
          <div class="iconbox">
            <p><span class="fa fa-3x fa-github icon-shadow"></span></p>
            <h3>Compartilho</h3>
          </div>
          <span class="bar"></span>  
        </div>
        
      </div>
      
      <div class="col-md-12 text-right">
        <p><a href="/sobre/" class="internallink thunder">
          Sobre mim. <span class="fa fa-angle-double-right"></span></a>
        </p>
      </div>
    </div>
    

   <div class="row">
      <div class="col-md-12 text-center">
        <h2>Where We can stay in touch</h2>
      </div>
      <div class="col-md-2 col-md-offset-3 text-center socialbox githubbox">
        <a href="https://github.com/Nilsonlinux" target="_blank">
          <span class="fa fa-5x fa-github icon-shadow"></span>
          <h6>Github</h6>
        </a>
      </div>
      <div class="col-md-2 text-center socialbox twitterbox">
        <a href="https://twitter.com/Nilsonlinux" target="_blank">
          <span class="fa fa-5x fa-twitter icon-shadow"></span>  
          <h6>Twitter</h6>
        </a>
      </div>
      <div class="col-md-2 text-center socialbox linkedin">
        <a href="https://www.linkedin.com/in/nilsonlinux-2236a814b/" target="_blank">
          <span class="fa fa-5x fa-linkedin icon-shadow"></span>
          <h6>Linkedin</h6>
        </a>
      </div>
      <div class="col-md-3 text-center"></div>
      <div class="col-md-2 col-md-offset-3 text-center socialbox lastfm">
        <a href="http://lastfm.com/user/Nilsonlinux" target="_blank">
          <span class="fa fa-5x fa-lastfm icon-shadow"></span>
          <h6>LastFM</h6>
        </a>
      </div>
      <div class="col-md-2 text-center socialbox stack-overflow">
        <a href="http://stackoverflow.com/users/10241849/nilsonlinux" target="_blank">
          <span class="fa fa-5x fa-stack-overflow icon-shadow"></span>
          <h6>SO</h6>
        </a>
      </div>
      <div class="col-md-2 text-center socialbox googleplus">
        <a href="https://plus.google.com/+Nilsonlinux/posts" target="_blank">
          <span class="fa fa-5x fa-google-plus icon-shadow"></span>
          <h6>Google+</h6>
        </a>
      </div>
      <div class="col-md-3 text-center"></div>
      <div class="col-md-2 col-md-offset-3 text-center socialbox mail">
        <a href="mailto:nilsonlinux@gmail.com?Subject=Hello" target="_blank">
          <span class="fa fa-5x fa-envelope icon-shadow"></span>
          <h6>Email</h6>
        </a>
      </div>
      <div class="col-md-2 text-center socialbox rss">
        <a href="/atom.xml" target="_blank">
          <span class="fa fa-5x fa-rss icon-shadow"></span>
          <h6>RSS</h6>
        </a>
      </div>
      <div class="col-md-2 text-center socialbox steam">
        <a href="/atom.xml" target="_blank">
          <span class="fa fa-5x fa-steam icon-shadow"></span>
          <h6>Steam</h6>
        </a>
       
      </div>
    </div>
    
    <br>
    <hr>
    <br>    
    
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>From the blog</h2>
      </div>
      {% for post in site.posts limit:4 %}
      <div class="col-md-10 col-md-offset-1 postlinkcontainer">
        <a href="{{ post.url }}" class="postlink internallink">
          <h3>{{ post.title }}<span class="pull-right">{{ post.date | date: "%B %Y" }}</span></h3>
        </a>
        <span class="bar"></span>
      </div>
      {% endfor %}  
      <div class="col-md-12 text-right">
        <p><a href="/blog/" class="internallink thunder">View more <span class="fa fa-angle-double-right"></span></a></p>
      </div>
    </div>
    
    <div class="push"></div>
  </div>
  {% include footer.html %}
  <script src="/js/typed.custom.js"></script>
  <script src="/js/index.js"></script>
</article>
