    
  <footer>
      <div class="row">
        <div class="col-md-4 text-left">
          Nilsonlinux {{ site.time | date: '%Y' }} <span class="fa fa-creative-commons"></span>
        </div>
         <div class="col-md-4 text-center">
          <span class="fa fa-pencil"></span> com <span class="red pulse fa fa-heart"></span> &
          <span class="fa fa-coffee"></span>.
          <a href ="https://github.com/nilsonlinux/nilsonlinux.github.io">
            <span class="fa fa-code"></span> para <span class="fa fa-github-alt"></span>
          </a>
        </div>
        <div class="col-md-4 text-right">
          <a
            href ="https://twitter.com/Nilsonlinux"
            title="Meu perfil no twitter">
              <span class="thunder fa fa-twitter"></span>
          </a>
          <a
            href ="https://cl.linkedin.com/in/Nilsonlinux"
            title="Meu perfil no linkedin">
              <span class="thunder fa fa-linkedin"></span>
          </a>
          <a
            href ="https://plus.google.com/+Nilsonlinux/posts"
            title="Meu perfil no google">
              <span class="thunder fa fa-google-plus"></span>
          </a>
          <a
            href ="https://github.com/Nilsonlinux/"
            title="Meu perfil no Github!">
              <span class="thunder fa fa-github-alt"></span>
          </a>
        </div>
      </div>
  </footer>
  <!--
  <div id="fade"></div>
  -->
